<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.lantkowiak.sdm">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        android:name="pl.lantkowiak.sdm.di.ApplicationContext">
        <activity
            android:name="pl.lantkowiak.sdm.activities.ViewRecentDocumentsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.lantkowiak.sdm.activities.AddDocumentActivity"
            android:label="Add document"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.lantkowiak.sdm.activities.ViewRecentDocumentsActivity" />
        </activity>
        <activity
            android:name="pl.lantkowiak.sdm.activities.SearchDocumentsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="pl.lantkowiak.sdm.activities.ShowDocumentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.lantkowiak.sdm.activities.ViewRecentDocumentsActivity" />
        </activity>
        <activity
            android:name="pl.lantkowiak.sdm.activities.EditDocumentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.lantkowiak.sdm.activities.ShowDocumentActivity" />
        </activity>
    </application>
</manifest>
